body {
    text-align: center;
    max-width: 100%;
    background-color:white;
}

.main-header{
    margin-bottom:40px;
}

.input_label {
    font-size:large;
}

.input {
    font-size: x-large;
    max-width: 100%;
    text-align: center;
}

.output > p {
    font-size:x-large;
    margin-top:50px;
}

table {
    margin:auto;
    width: 100%;
    max-width:600px;
    font-size:large;
    border: 1px solid #E1E1E1;
    border-radius:4px;
    padding:10px;
    font-family: monospace;
} 

table, th, td {
    text-align: left;
}

td {
    font-size:85%;
}

.headbar span {
    margin:auto;
}

.headbar a:link {
    text-decoration: none;
}

.headbar a:visited {
    text-decoration: none;
}

.headbar a:hover {
    text-decoration: underline;
}

.headbar a:active {
    text-decoration: underline;
}