.main-header{
    font-weight: bold;
}

.input_label {
    font-size:large;
}

.input {
    font-size: x-large;
    max-width: 100%;
    text-align: center;
}

.shift_button {
    width:100%;
    margin:auto;
    padding:0px;
}

.desktop_col .shift_button {
    width:100%;
}

.mobile_col .shift_button {
    width:30%;
}

.desktop_col {
    display:none;
}

@media (min-width: 550px) {
    .desktop_col {
        display:inline;
    }
    .mobile_col {
        display:none;
    }
}

.output_section > p {
    font-size:x-large;
    margin-top:25px;
}

table {
    margin:auto;
    width: 100%;
    max-width:500px;
    font-size:large;
    border: 1px solid #E1E1E1;
    border-radius:4px;
    padding:10px;
} 

table, th, td {
    text-align: left;
}