@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

body {
    text-align: center;
    max-width: 100%;
    background-color:white;
    font-family: 'Lexend Deca', sans-serif;
}

.main-header{
    margin-top:30px;
    margin-bottom:40px;
    font-weight: bold;
}

.input_label {
    font-size:large;
}

.input {
    font-size: x-large;
    max-width: 100%;
    text-align: center;
}

.output_section > p {
    font-size:x-large;
    margin-top:25px;
}

table {
    margin:auto;
    width: 100%;
    max-width:500px;
    font-size:large;
    border: 1px solid #E1E1E1;
    border-radius:4px;
    padding:10px;
} 

table, th, td {
    text-align: left;
}

.headbar span {
    margin:auto;
}

.headbar a:link {
    text-decoration: none;
}

.headbar a:visited {
    text-decoration: none;
}

.headbar a:hover {
    text-decoration: underline;
}

.headbar a:active {
    text-decoration: underline;
}